/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootsy 
 */

div {
  font-family: 'Open Sans', sans-serif !important;
}

.search-bar {
  padding: 8px 15px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  width: 199px;
  margin-top: 5px;
}

.search-button {
  position: relative;
  padding: 6px 15px;
  left: -8px;
  border: 2px solid #4cae4c;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #5cb85c;
  color: #fff;
  height: 38px;
}


nav{
	float: right;
	margin-right: 40px;
	display: inline-block;
	margin-top: 3%;
}

.page-title {
  font-family: 'Open Sans', sans-serif;
}

.glyphicon-ban-circle {
  color: #f00;
}

.glyphicon:hover {
  text-decoration: none;
  color: none;
}

.glyphicon {
  text-decoration: none;
}

a.glyphicon-edit {
  text-decoration: none;
  color: #337ab7;
}

.requirement {
  color: #f00;
  opacity: 0.6;
}

@media only screen and (max-width : 400px) {
  .page-title {
    margin-top: 0px;
  }
}