/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.actions{
	margin-top: 10px;
}

.field{
	margin-top: 5px;
}

/*.location-field{
	margin-top: 5px;
}

.salary-field{
	margin-top: 5px;
}*/

.job-posting{
	border-bottom: solid 1px #d3d3d3;
}