/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.login-box{
	margin-top: 30px;
	border: 1px solid #d3d3d3;
	max-height: 250px;
	border-radius: 5px;
}

#user_email, 
#user_password,
#user_password_confirmation{
	border-radius: 5px;
}

#logo{
	float: left;
	margin-top: 10px;
}

.page-title{
	margin-top: 150px;
}

.login-stuff{
	float: left;
	text-align: left;
	margin-top: 50px;
}

.actions{
	margin-top: 10px;
}

.field{
	margin-top: 5px;
	border-radius: 5px;
}

/*.location-field{
	margin-top: 5px;
}

.salary-field{
	margin-top: 5px;
}*/

.job-posting{
	border-bottom: solid 1px #d3d3d3;
	margin-right: 50%;
}

.editable-click.{
	border-bottom: none;
}
